@font-face {
    font-family: 'Carrois Gothic';
    src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url('carroisgothic.woff2') format('woff2'), url('carroisgothic.woff') format('woff'), url('carroisgothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
